[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
pillow = "*"
pytesseract = "*"
pdf2image = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
