[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.25.1"
selenium = "3.141.0"
pillow = "8.1.0"
pytesseract = "0.3.7"
pdf2image = "1.14.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
